.container-speciality {
  .speciality {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    label {
      font-size: 16px;
      font-weight: bold;
    }
    .image {
        flex: 1;
        .image-preview-container {
            .image-upload {
              background: #ddd;
              padding: 6px 10px;
              margin-bottom: 4px;
              cursor: pointer;
              font-weight: 400;
            }
            .preview-image {
              border: 1px solid #ddd;
              height: 100px;
              width: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
              cursor: pointer;
            }
          }
    }
  }
 
  .description {
    padding: 18px 0;
    h5 {
      font-weight: bold;
      font-size: 16px;
    }
  }
}
