.bg-outstanding-doctor {

  background-color: #f5f5f5;
  .border-images {
    cursor: pointer;
    padding: 0 4px;
    .slider-thumbnail {
      padding: 12px 24px !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid #eee;
      height: 240px !important;
      .image-doctor {
        background-size: cover;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        margin-bottom: 12px;
      }
      .des-doctor {
        font-size: 15px;
        color: #111111;
        // font-weight: lighter;
      }
      .text-speciality {
        font-size: 14px !important;
        color: #555555;
      }
    }
  }
}
// / responsive smartphone
@media (max-width: 576px) {
  .slider-thumbnail {
    .image-doctor {
      height: 80px !important;
      width: 80px !important;
    }
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .image-doctor {
    margin-bottom: 0 !important;
  }
  .des-doctor {
    padding-top: 10px;
  }
}
