.bg-footer {
  background-color: #f5f5f5;
  .bg-container {
    margin: 0 auto;
    padding: 12px 0;
    .footer-first {
      .logo {
        background: url(../../assets/logo.svg) no-repeat center center;
        height: 44px;
        width: 180px;
        background-size: contain;
      }
      .address {
        font-size: 14px;
        color: #000000;
        p {
          font-weight: 600;
          margin: 5px 0;
        }
        .map {
          margin-top: 5px;
          i {
            font-size: 16px;
            width: 20px;
          }
        }
      }
    }
    .footer-second {
      .vung-bao {
        padding: 5px 0;
        .child {
          text-decoration: none;
          font-size: 14px;
          color: #45c3d2;
          cursor: pointer;
          font-weight: lighter;
        }
      }
    }
    .footer-third {
      .info {
        font-size: 14px;
        padding: 10px 0;
        div {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
@media (max-width: 576px) {
}
