.homepage-header-container {
  &.container {
    padding: 16px 8px;
  }
  padding: 12px 8px;
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .left-header {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: left;
      .image-logo {
        background: url(../../assets/logo.svg) no-repeat left;
        height: 36px;
        width: 100%;
        cursor: pointer;
      }
      i {
        font-size: 28px;
        color: gray;
        padding: 0 12px 0 0;
        cursor: pointer;
      }
    }
    .center-header {
      flex: 2;
      justify-content: space-between;
      font-weight: lighter;
      cursor: pointer;
      .child {
        padding: 0 12px;
        .text-child-title {
          font-weight: bold;
          font-size: 14px;
        }
        .text-child {
          font-size: 12px;
          color: #333333;
        }
      }
    }
    .right-header {
      flex: 1;
      display: flex;
      justify-content: right;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      color: rgb(197, 213, 227);
      i {
        padding: 0 4px;
        color: #72dceb;
        cursor: pointer;
      }
      .language {
        color: #000;
        font-weight: 500;
        cursor: pointer;
        .language-vi {
          opacity: 0.2;
          &.active {
            opacity: 1;
            color: #fd7e14;
          }
        }
        .language-en {
          opacity: 0.2;
          &.active {
            opacity: 1;
            color: #e0dd0a;
          }
        }
      }
      .drop-down {
        i {
          font-size: 40px;
          padding: 0 20px;
          color: #6c757d;
        }
        .group-drop-down {
          position: fixed;
          z-index: 1000;
          top: 70px;
          right: 88px;
          display: none;
          &.active {
            display: block;
          }
          .group-drop {
            border: 1px solid #91ad41;
            padding: 12px;
            width: 200px;
            list-style: none;
            border-radius: 10px;
            background: #fff;
            font-family: "Quicksand", sans-serif;
            .account,
            .role,
            .logout {
              text-align: center;
              font-size: 14px;
              padding: 7px 0;
              font-weight: 300;
              border: 1px solid #ccc;
              border-radius: 20px;
              color: white;
              margin-bottom: 4px;
              background-image: -webkit-linear-gradient(
                35deg,
                #91ad41 0%,
                #ff8a6c 100%
              ) !important;
              cursor: pointer;
              &:hover {
                background: #91ad41 !important;
              }
            }
          }
        }
      }
    }
  }
}
