
.collapse-container {
  position: fixed;
  top: 0;
  width: 260px;
  height: 100%;
  left: -260px;
  border-right: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  font-size: 17px;
  color: #45c3d2;
  font-weight: 100;
  &.active {
    transition: left 300ms ease-out;
    left: 0;
  }
  .first-section {
    .text-des {
      padding: 10px 15px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
    }
  }
  .middle-section {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    background-color: hsl(0, 0%, 95%);
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
  }
  .second-section {
    .text-des {
      padding: 10px 15px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
    }
  }
  .social {
    cursor: pointer;
    margin-top: 40px;
    padding: 10px 15px;
    i {
      font-size: 40px;
    }
    .facebook {
      padding-right: 20px;
      color: #1f1fce;
    }
  }
}
